<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
  xmlns:util="http://www.springframework.org/schema/util" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
  xmlns:jee="http://www.springframework.org/schema/jee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.3.xsd
    http://www.springframework.org/schema/util
    http://www.springframework.org/schema/util/spring-util-4.3.xsd
    http://www.springframework.org/schema/jdbc
    http://www.springframework.org/schema/jdbc/spring-jdbc-4.3.xsd
    http://www.springframework.org/schema/jee
    http://www.springframework.org/schema/jee/spring-jee-4.3.xsd
    ">

  <!-- #################################################################################### -->
  <!-- #################################################################################### -->
  <!-- #################################################################################### -->


<!--   <context:property-placeholder properties-ref="configProperties" /> -->
  <context:component-scan base-package="org.wystriframework.examples" />

<!--   <bean id="dataSource" class="com.p6spy.engine.spy.P6DataSource"> -->
<!--     <property name="realDataSource" value="java:comp/env/jdbc/verba-online-ds" /> -->
<!--   </bean> -->

<!--   <bean name="tx" class="org.springframework.transaction.support.TransactionTemplate"> -->
<!--     <property name="transactionManager" ref="transactionManager" /> -->
<!--     <property name="propagationBehaviorName" value="PROPAGATION_REQUIRED" /> -->
<!--   </bean> -->

<!--   <bean name="jdbc" class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate"> -->
<!--     <constructor-arg ref="dataSource" /> -->
<!--   </bean> -->

<!--   <bean name="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager"> -->
<!--     <property name="dataSource" ref="dataSource" /> -->
<!--   </bean> -->

<!--   <util:properties id="configProperties" location="classpath:config.properties" /> -->

</beans>
